body {
    background-color: black;
    margin-top: 10vh;
}

main {
    color: white;
    /* margin-left: 40%;
    margin-top: 20vh; */
}

.photo {
    border-radius: 50%;
    width: 30vh;
}

hr {
    border-color: white;
    width: 30%;
}

.fas {
    margin: 10px;
}

.fab {
    margin: 10px;
}

section {
    background: white;
}

.demo {
    width: 30%;
}