/* font-family: 'Raleway', sans-serif; */

body {
    font-family: 'Raleway', sans-serif;
}

div {
    padding: 0% !important;
    margin: 0%;
}

main {
    background: linear-gradient(45deg, #8829fe 0%,#8447ff 32%,#4391fe 60%,#1cc5ff 86%,#5bf3fe 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    padding: 10vh;
}

.photo {
    border-radius: 50%;
    width: 30vh;
}

.alert-link {
    color: #411896;
}

hr {
    border-color: #8829FE;
    width: 30%;
}

.fas {
    margin: 10px;
}

.fab {
    margin: 10px;
}

.nav-link {
    color: #411896;
}

section {
    background: white;
}

div {
    margin-top: 5vh;
}

.projects {
    margin-top: 5vh;
    font-weight: 900;
}

.first-mobile {
    margin-top: 5vh;
}

.demo {
    width: 30%;
}

.sketch {
    width: 70%;
}

iframe {
    margin: 0;
    border: 0;  
    width: 360px; 
    height: 360px;
}
